<template>
  <article class="post">
    <header class="post-header">
      <div class="post-title">
        <h1>{{ post.title }}</h1>
        <nuxt-link to="/">
          <i class="el-icon-back" />
        </nuxt-link>
      </div>
      <div class="post-info">
        <small>
          <i class="el-icon-time" />
          {{ post.date | date }}
        </small>
        <small>
          <i class="el-icon-message" />
          {{ post.views }}
        </small>
      </div>
      <div class="post-img">
        <img :src="post.imageUrl" alt="" class="post-img">
      </div>
    </header>
    <main>
      <vue-markdown>{{ post.text }}</vue-markdown>
    </main>
    <footer>
      <AppCommentForm v-if="canAddComment" :post-id="post._id" @created="createCommentHandler" />
      <div v-if="post.comments.length" class="comments">
        <AppComment
          v-for="comment in post.comments"
          :key="comment._id"
          :comment="comment"
        />
      </div>
      <div v-else class="text-center">
        Комментариев нет
      </div>
    </footer>
  </article>
</template>

<script>
import AppComment from '@/components/main/Comment'
import AppCommentForm from '@/components/main/CommentForm'

export default {
  components: {
    AppComment,
    AppCommentForm
  },
  async asyncData ({ store, params }) {
    const post = await store.dispatch('post/fetchPostById', params.id)
    await store.dispatch('post/addView', post)
    return {
      post: {
        ...post,
        views: ++post.views
      }
    }
  },
  data () {
    return {
      canAddComment: true
    }
  },
  methods: {
    createCommentHandler ({ comment }) {
      this.post.comments.unshift(comment)
      this.canAddComment = false
    }
  },
  validate ({ params }) {
    return !!params.id
  },
  head () {
    return {
      title: `${this.post.title} | ${process.env.appName}`
    }
  }
}
</script>

<style lang="scss" scoped>
.post {
  max-width: 600px;
  margin: 0 auto;

  &-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
  }

  &-header {
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 1rem;
  }

  .comments {
    margin-top: 2rem;
  }

  main {
    margin-bottom: 2rem;
  }
}
</style>
