<template>
  <el-form ref="form" :model="controls" :rules="rules" @submit.native.prevent="onSubmit">
    <h1 class="mb">
      Создать новый пост
    </h1>
    <el-form-item label="Заголовок" prop="title">
      <el-input v-model="controls.title" />
    </el-form-item>
    <el-form-item label="Текст в формате .md или .html" prop="text">
      <el-input v-model="controls.text" type="textarea" resize="none" :rows="10" />
    </el-form-item>

    <div class="mb">
      <el-button type="success" plain @click="preview = true">
        Предпросмотр
      </el-button>
    </div>

    <el-dialog title="Предпросмотр" :visible.sync="preview">
      <div :key="controls.text">
        <vue-markdown>{{ controls.text }}</vue-markdown>
      </div>
    </el-dialog>

    <el-upload
      ref="upload"
      drag
      class="mb"
      action="https://jsonplaceholder.typicode.com/posts/"
      :on-change="handleImgChange"
    >
      <i class="el-icon-upload" />
      <div class="el-upload__text">
        Перетащите картинку или <em>нажмите</em>
      </div>
      <div slot="tip" class="el-upload__tip">
        Файлы с расширением jpg/png
      </div>
    </el-upload>

    <el-form-item>
      <el-button type="primary" native-type="submit" round :loading="loading">
        Создать пост
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  layout: 'admin',
  middleware: ['admin-auth'],
  data () {
    return {
      image: null,
      loading: false,
      preview: false,
      controls: {
        text: '',
        title: ''
      },
      rules: {
        text: [
          {
            required: true,
            message: 'Текст не должен быть пустым',
            trigger: 'blur'
          }
        ],
        title: [
          {
            required: true,
            message: 'Название не должен быть пустым',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  methods: {
    onSubmit () {
      this.$refs.form.validate(async (valid) => {
        if (valid && this.image) {
          this.loading = true
          try {
            const formData = {
              text: this.controls.text,
              title: this.controls.title,
              image: this.image
            }
            await this.$store.dispatch('post/create', formData)
            this.controls.text = ''
            this.controls.title = ''
            this.$refs.upload.clearFiles()
            this.$message.success('Пост создан')
          } catch (e) {

          } finally {
            this.loading = false
          }
        } else {
          this.$message.warning('Форма не валидна')
        }
      })
    },
    handleImgChange (file, fileList) {
      this.image = file.raw
    }
  },
  head: {
    title: `Новый пост | ${process.env.appName}`
  }
}
</script>

<style lang="scss" scoped>
form {
  width: 600px;
}
</style>
