<template>
  <el-card class="comment">
    <div class="comment-header">
      <span class="name">{{ comment.name }}</span>
      <span><i class="el-icon-time" />{{ comment.date | date }}</span>
    </div>
    <div class="comment-text">
      {{ comment.text }}
    </div>
  </el-card>
</template>

<script>
export default {
  props: {
    comment: {
      type: Object,
      required: true
    }
  }
}
</script>

<style lang="scss" scoped>
.comment {
  margin-bottom: 2em;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
    font-size: .8rem;
  }

  &-text {
    white-space: pre-line;
  }
}
</style>
