<template>
  <div class="page-wrapper">
    <el-breadcrumb separator="/" class="mb">
      <el-breadcrumb-item :to="{ path: '/admin/list' }">
        Посты
      </el-breadcrumb-item>
      <el-breadcrumb-item>{{ post.title }}</el-breadcrumb-item>
    </el-breadcrumb>
    <el-form ref="form" :model="controls" :rules="rules" @submit.native.prevent="onSubmit">
      <el-form-item label="Текст в формате .md или .html" prop="text">
        <el-input v-model.trim="controls.text" type="textarea" resize="none" :rows="10" />
      </el-form-item>
      <div class="mb">
        <small><i class="el-icon-time" /> {{ post.date | date }}</small>
        <small class="mr">
          <i class="el-icon-view" />
          <span style="margin-left: 10px">{{ views }}</span>
        </small>
      </div>
      <el-form-item>
        <el-button type="primary" native-type="submit" round :loading="loading">
          Обновить
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  layout: 'admin',
  middleware: ['admin-auth'],
  async asyncData ({ store, params }) {
    const post = await store.dispatch('post/fetchAdminPostById', params.id)
    return { post }
  },
  data () {
    return {
      loading: false,
      views: '',
      controls: {
        text: ''
      },
      rules: {
        text: [
          {
            required: true,
            message: 'Текст не должен быть пустым',
            trigger: 'blur'
          }
        ]
      }
    }
  },
  mounted () {
    this.controls.text = this.post.text
    this.views = this.post.views
  },
  methods: {
    onSubmit () {
      this.$refs.form.validate(async (valid) => {
        if (valid) {
          this.loading = true
          try {
            const formData = {
              text: this.controls.text,
              id: this.post._id
            }
            await this.$store.dispatch('post/update', formData)
            this.$message.success('Пост обновлен')
          } catch (e) {

          } finally {
            this.loading = false
          }
        }
      })
    }
  },
  validate ({ params }) {
    return !!params.id
  },
  head () {
    return {
      title: `${this.post.title} | ${process.env.appName}`
    }
  }
}
</script>

<style lang="scss" scoped>
.page-wrapper {
  width: 600px;
}
small {
  display: inline-block;
}
.mr {
  margin-left: 2rem;
}
</style>
