<template>
  <div class="admin-wrapper">
    <el-container>
      <el-aside width="250px">
        <AppAside />
      </el-aside>
      <el-main>
        <Nuxt />
      </el-main>
    </el-container>
  </div>
</template>

<script>
import AppAside from '@/components/admin/Aside'
export default {
  components: {
    AppAside
  },
  computed: {
    error () {
      return this.$store.getters.isError
    }
  },
  watch: {
    error (value) {
      this.$message.error(value.response.data.message || value.response.data)
    }
  }
}
</script>

<style lang="scss" scoped>
.admin-wrapper {
  width: 100%;
  height: 100vh;
  > * {
    height: 100%;
  }
}
</style>
