<template>
  <div class="empty-layout">
    <Nuxt />
  </div>
</template>

<script>
export default {
  computed: {
    error () {
      return this.$store.getters.isError
    }
  },
  watch: {
    error (value) {
      this.$message.error(value.response.data.message || value.response.data)
    }
  }
}
</script>

<style lang="scss" scoped>
.empty-layout {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 4rem;
}
</style>
